<a href="https://colab.research.google.com/github/mmburu8/moringa-wk4-independent-project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Martin_Mburu_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTING LIBRARIES**

In [ ]:
#importing pandas libraries
import pandas as pd
#import numpy
import numpy as np

#**LOADING DATASET**

In [ ]:
#Laoding Autolib_dataset
paris = pd.read_csv("Autolib_dataset.csv", encoding= "latin1")
paris.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7       17 Rue des Luaps ProlongÃÂ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

# **DATA PREPARATION**

In [ ]:
#Find missing values in each column
paris.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
#Looking for duplicates
paris.duplicated()
paris.drop_duplicates()
paris.shape

(5000, 25)

In [ ]:
#dropping irrelevant columns
paris.drop(["Scheduled at", "Displayed comment"],axis=1, inplace=True)
paris.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

PREPARATION OF HOUR, MINUTE, YEAR, DAY, MONTH COLUMN

In [ ]:
# convert minute, day, year, month and hour to strings
paris["minute"] = paris["minute"].astype(str)
paris["day"] = paris["day"].astype(str)
paris["year"] = paris["year"].astype(str)
paris["month"] = paris["month"].astype(str)
paris["hour"] = paris["hour"].astype(str)
paris.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                   object
month                  object
day                    object
hour                   object
minute                 object
dtype: object

In [ ]:
# merge hour and minute columns into a time column
# merge year, month, date columns into a date column
# merge date and time columns to form datetime column
#convert datatype of datetime column to datetime format

paris["time"] = paris["hour"].str.cat(paris["minute"], sep= ":")
paris.head()
paris["date"] = paris["year"] + "-" + paris["month"] + "-" + paris["day"]
paris["datetime"] = paris["date"] + " " + paris["time"]
paris["datetime"] = pd.to_datetime(paris["datetime"])

In [ ]:
#drop date, time, hour, minute, year, month, day
parisien = paris.drop(["time", "date"], axis=1)
paris = parisien
paris.head()

                              Address  Cars  ...  minute            datetime
0                 2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00

[5 rows x 26 columns]

In [ ]:
#splitting datetime column to form date and time column
paris["datetime"] = paris["datetime"].astype(str)
paris[["date", "time"]] = paris.datetime.str.split(expand=True)
paris.drop("datetime", axis= 1, inplace=True)
paris.head()

                              Address  Cars  ...        date      time
0                 2 Avenue de Suffren     0  ...  2018-04-08  11:43:00
1           145 Rue Raymond Losserand     6  ...  2018-04-06  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...  2018-04-03  20:14:00
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...  2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ...  2018-04-08  17:23:00

[5 rows x 27 columns]

In [ ]:
x = paris["Bluecar counter"].groupby(paris["hour"]).sum()
x.sort_values(ascending=False)

hour
6     608
2     559
7     555
5     552
3     549
13    537
9     515
4     512
21    503
11    502
1     493
12    491
0     483
10    475
8     472
16    463
15    449
22    441
23    434
17    432
18    427
14    418
20    411
19    387
Name: Bluecar counter, dtype: int64